/* this file is used for css of sign up and sign in pages  */
.sign-in-up-container{
  padding: 0;
  height: 100svh;
  display: flex;
  align-items: stretch;
  background-color: var(--white);
  margin: 0;
  scrollbar-width:none;
}

form{
scrollbar-width:none;
}

.email-input{
  text-transform: lowercase;
}

.sign-in-up-container .background-container{
  flex: 1;
  height: 100%;
   background-image: url('../../assets/images/auth-page-bg.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.sign-in-up-container form{
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  position: relative;
  overflow: auto;
  height: 100%;
  max-height: 900px;
  background-color: var(--white);
}

.sign-in-up-container form input{
  box-shadow: inset 1px 1px 4px var(--text-light-grey);
}

.sign-in-up-container .bottom-left-container{
  width: 220px;
  height: 220px;
  background-color: var(--text-heading);
  border-radius: 50% ;
  position: absolute;
  bottom: -5em;
  left: -5em;
}
@media (max-width: 767px){
  .sign-in-up-container{
    flex-direction: column;
    align-items: center;
    padding-bottom: 1em;
    overflow: auto;
  }
  .sign-in-up-container .background-container{
  flex: auto;
  width: 100%;
  min-height: 200px;
   background-image: url('../../assets/images/auth-page-bg.png');
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}
.sign-in-up-container form{
  max-width: 500px;
  overflow: hidden;
  position: relative;
  min-height: 580px;
  border-radius: .5rem;
  z-index: 100;
  margin-top: -5em;
  box-shadow: 3px 3px 10px var(--text-muted);
}
}


form >div {
  width: 100%;
  margin: .15em 0;
  max-width: 400px;
  display: flex;
  flex-direction: column;
}

#submit-form-btn{
  width: 100%;
  font-weight: 700;
  background-color: var(--text-heading);
  color: var(--white);
  margin: .8em 0;
}


#submit-form-btn svg{
  margin-left: .5em;
}

#submit-form-btn:hover svg{
  transform: translateX(10px);
}

.input-container{
  position: relative;
  display: flex;
  align-items: center;
  margin: .2em 0;
}
.input-container input{
  padding-left: 3em;
}
.input-container svg{
  position: absolute;
  left: 1em;
  color: var(--text-light-grey);
}


.external-auth-btn{
  height: 40px;
  padding: 0;
  width: 40px;
}
.external-auth-btn:hover{
  transform: scale(1.05);
}

#google-sign-up-btn{
  border: 2px solid var(--text-heading);
  background-image: url('/images/google.png');
}

.signup-legal-text{
  font-size: .9rem;
  line-height: 1;
  color: var(--text-muted);
  text-align: start;
}
.signup-legal-text a{
  display: inline-block;
  padding: .25em;
  text-decoration: underline;
}

.error{
  width: 100%;
  padding-right: 2em;
  font-size: .7rem;
  font-weight: 700;
  color: var(--red);
  text-align: end;
  transition: all 300ms ease;
  visibility:hidden; 
  height: 0px;
}
.error.show{
 height: 15px;
 visibility: visible;
}

.input-container svg.filled-input {
  color: var(--text-heading);
}

.sign-up-btn svg.sending {
  display: inline-block;
  animation: sending-x .8s linear infinite;
}

@keyframes sending-x {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20px); /* adjust distance as you like */
  }
  100% {
    transform: translateX(0);
  }
}