body{
  background: radial-gradient(circle at top left, rgba(255, 255, 255, 0.2) 0%, rgba(240, 240, 240, 0) 60%), linear-gradient(135deg, #f4c2c2 0%, #8a2be2 50%, #f4c2c2 100%);

  background-size: 400% 400%; /* Make the background large so we can shift it */
    background-attachment: fixed;
    animation: gluxury-shimmer 8s ease infinite alternate;
}

@keyframes gluxury-shimmer {
    0% {
        background-position: 0% 50%; /* Start position */
    }
    100% {
        background-position: 100% 50%; /* End position (shifts the gradient horizontally) */
    }
}


.comfirm-otp-page-main{
  padding: 0;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   flex: 1;
   height: 100svh;
   min-height: 500px;
  overflow: auto;
  margin: 0;
  text-align: center;

  background-color: rgba(230, 245, 250, 0.21);
    backdrop-filter: blur(50px);
}

.comfirm-otp-page-main form{
  width: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 1em;
  border-radius: 1em;
}

.comfirm-otp-page-main .input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.5em 0;

}

 .comfirm-otp-page-main .input-container input{
  width: 45px;
  aspect-ratio: 1;
  margin-inline: .25em;
  padding: 0;
  display: grid;
  place-items: center;
  font-weight: 700;
  font-size: 1.5rem;
  border: 1px solid var(--text-subtle);
  border-radius: .5rem;
}



.comfirm-otp-page-main .comfirm-otp-btn {
  
}

.comfirm-otp-page-main .comfirm-otp-btn:hover svg{
   transform: translateX(5px);
}

.comfirm-otp-page-main .resend-code-btn:hover {
  background: var(--text-link);
  color: var(--white);
}

.resend-code-btn svg {
  transition: all 1s ease;
}

.resend-code-btn:hover svg{
  transform: rotate(-460deg);
}

.chart-us-link svg{
 margin-inline: .25em;
}

.input-container.error input{
  
}

