
.forgot-password-main{
  height: 100svh;
  display: grid;
  place-items: center;
}
.forgot-password-main h1{
   font-size: clamp(2rem, 4vw + 1rem, 3rem);
}
.forgot-password-form{
  width: 100%;
  max-width: 600px;
  padding: 1em 1.5em;
  background-color: var(--text-heading);
  box-shadow: 2px 2px 4px var(--text-muted);
  border-radius: .5rem;
}
.forgot-password-form >*{
  margin: .5em;
}
.forgot-password-form button{
  margin: .5em;
  margin-top: 2em;
  text-align: center;
  display: flex;
  justify-self: center;
  background-color: var(--text-link);
  color: var(--white);
}

.back-button{
  position: fixed;
  top: 1em;
  left: 1em;
  background-color: transparent;
  color: var(--text-heading);
}

.back-button:hover svg{
  transform: translateX(-10px);
}

.forgot-password-form .input-container{
  margin-inline: auto;
}