.add-products-section{
  padding: 2em 0em;
}

.form-content-container{
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 1em;
  flex-wrap: wrap;


}


.form-content-container .form-input-container{
  flex: 1;
  padding: .8em;
  border-radius: .5rem;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: start;
}

.form-input-container >div{
  margin-bottom: .5em;
}

.picker-container{
  display: flex;
  gap: .5em;
  align-items: start;
  background-color: var( --bg-gradient-start);
  padding: 1em .5em;
  border-radius: .5rem;
  margin: .5em 0;
}

.product-colors-container{
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
}

.product-colors-container .color-box{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid var(--text-muted);
  position: relative;
}

.product-colors-container .color-box button{
  position: absolute;
  padding: .15em .001em;
  right: -.8em;
  top: -.8em;
  background-color: var(--white);
  border: 1px solid var(--text-muted);
}

.picker-container .add-btn{
  padding: .5em 1em;
  color: var(--white);
  border: none;
  border-radius: .5rem;
  cursor: pointer;
}


.add-products-section .text-content{
  max-width: 500px;
}

.add-products-section input{
  box-shadow: 1px 1px 2px var(--text-muted);
}

#product-rate-count{
  width: 100px;
  margin: 0 .5em;
  border-radius: .5rem;
}

#product-name{
  text-transform: capitalize;
}


#image-input{
  width: 100%;
  cursor: pointer;
  text-align: center;
  font-size: 1rem;
  font-weight: 700;
  border: none;
}

input[type="file"]::-webkit-file-upload-button {
  background: #f6e8ff;  /* your color */
  color: #333;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
  display: none;
}

.image-input-container{
  height: 300px;
   max-width: 400px;
   min-width: 200px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
#image-input{
  flex: 1;
  padding: 0;
  border: 5px dotted var(--text-link);
  border-radius: 0;
  display: grid;
  place-items: center;
  max-width: 800px;
}

.add-products-section input{
  max-width: 400px;
}
.add-products-section  label{
  display: block;
}

.image-upload-text-content{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
    top: 50%; 
   bottom: 50%;
   display: grid;
   place-self: center;
   text-align: center;
   z-index: -1;
}

.product-name-details-container >div{
    max-width: 400px;
}

.off-price-btn-container{
  overflow: auto;
}

.category-container select{
  padding: 1em .5em;
}

.add-products-section .add-product-button{
  width: 100%;
  max-width: 600px;
  border-radius: .5rem;
  background-color: var(--text-heading);
  color: var(--bg-gradient-end);
 
}
#product-size{
  margin: 0 auto;
  border: 1px solid ;
  padding: 1em 1.5em;
  width: 200px;
  display: block;
}

.add-products-section form{
  background-color: var(--white);
  padding: 1.5em .8em;
  box-shadow: 2px 2px 4px var(--text-muted);
  border-radius: .5rem;
  transition: all 250ms ease-in-out;
  opacity: 0;
}

.add-products-section form.closed-form{
  height: 0;
  overflow: hidden;
  padding:0em;
  opacity: 0;
}

.add-products-section form.form-active{
  height: auto;
  overflow: auto;
  opacity: 1;
}

.size-selection-container{
  gap: 1em;
  background-color: var(--bg-gradient-end);
  padding: 1em .5em;
  border-radius: .5rem;
}

.select-sizes-container{
  display: grid;
  grid-template-columns: repeat(4, 50px);
  gap: .5em;
  padding: .5em;
  border-radius: .5rem;
  border: 2px solid var(--accent-purple);
}

.select-sizes-container button{
  padding: .5em;
  border: 1px solid var(--accent-purple);
  border-radius: .5rem;
  background-color: transparent;
  color: var(--text-heading);
}

.selected-sizes-container{
  display: flex;
  gap: .5em;
  flex-wrap: wrap;
  margin-left: 1em;
}

.selected-sizes-container span{
  position: relative;
  height: 30px;
  width: 30px;
  padding: .5em;
  border: 1px solid var(--text-muted);
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: 700;
  background-color: var(--text-heading);
  color: var(--white);
}

.selected-sizes-container button{
  position: absolute;
  padding: .15em .001em;
  right: -.8em;
  top: -.8em;
  background-color: var(--white);
  border: 1px solid var(--text-heading);
}

