.edith-delete-container{
  position: absolute;
  bottom:0;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.edith-delete-container button{
  padding: .5em;
}

.edith-delete-container > :first-child{
  padding: 0 1.5rem;
}

.relative-time{
  font-size: .7rem;
  font-weight: 600;
  color: var(--text-subtle);
}
