.product-details-page-main{
  display: flex;
  gap: 1em;
  border-left: 1px solid var(--text-muted);
  border-right: 1px solid var(--text-muted);
  flex-direction: column;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 .5em;
  margin-bottom: 5em;
  background-color: var(--white);
}

.product-details-card{
  display: flex;
  align-items: start;
  min-height: 200px;
  flex-direction: column;
}

.product-details-card figure{
  width: 100%;
  height: 300px;
  margin-bottom: 1em; 
}

.product-details-card .text-container{
  padding: .5em 1em;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}
.select-quantity{
  padding: .8em 1.2em;
  border: 3px solid var(--text-heading);
  color: var(--text-heading);
  border-radius: .5em;
  font-weight: 700;
  font-size: .9rem;
}



.key-features-container{
 border: 1px solid var(--text-muted);
  margin: .8em 0;
  display: flex;
  justify-content: space-between;
  padding: .5em;
  flex-wrap: wrap;
}
.key-features-container >div{
  flex: 1;
  max-width: 300px;
}
.key-features-container h3{
  padding: .5em;
}
.product-features-list{
  padding: 1em;
  font-weight: bold;
}

.viewed-product-wrapper {
  position: relative;
  margin: 2em 0;
}
.viewed-product-wrapper h3{
  position: absolute;
  top: -1.1em;
  left: 1em;
  background-color: var(--white);
  padding: .5em;
}

.viewed-product-container{
  min-height: 200px;
  padding: 1em 0;
  border: 1px solid var(--text-muted);
}


.shipping-details-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.shipping-details-link{
  display: flex;
  align-items: center;
}

.shipping-details-link svg{
  margin-left: .3em;
  color: var(--text-link);
  stroke-width: 2.5;
}

.whats-app-btn{
  width: 100%;
  background-color: #25D366;
  color: #FFFFFF;
}

@media (max-width: 900px) {
  .product-details-page-main{
    flex-direction: column;
  }

  .shipping-details-container{
    max-width: 100%;
    gap: 1em;
  }

  .shipping-details-container > div{
    flex: 1;
  }
}
