main{
  padding: 4em .5em;
  padding-top: 1em;
}

.products-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr)); 
  place-items: center;
  gap: .5em;;
  min-height: 70vh;
}

.empty-cart-container{
  display: grid;
  place-items: center;
}

.products-container .empty-cart-container svg{
  color: var(--text-muted);
  animation: changeColor 2s infinite ;
}

@keyframes changeColor {
  0%{
    color: var(--text-muted);
    transform: scale(1);
  }
  25%{
    color: var(--accent-purple);
    transform: scale(1.4)
  }50%{
    color: var(--text-link);
    transform: scale(1.2)
  }75%{
    color: var(--red);
    transform: scale(1.6)
  }100%{
    color: var(--text-heading);
    transform: scale(1)
  }
}





@media(max-width:420px){
.products-container{
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); 
  gap: .35em;
}
main{
  padding: 3em .25em;
}
}

@media(max-width: 379px){
.products-container{
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
}

}