.announcement-container{
  background-color: var(--text-heading);
  display: flex;
  justify-content: space-around;
  margin: 1em auto;
  border-radius: 1rem;
  box-shadow: 2px 2px 18px var(--text-heading);
  max-width: 1200px;
  align-items: center;
  padding: .5em;
}

.announcement-container figure{
  width: clamp(100px, 20vw, 150px);
}

.details-container h2{
 margin: 0;
}

@media(max-width: 600px){
  .announcement-container{
    justify-content: space-between;
  }
  .details-container{
    max-width: 250px;
  }
}