
.cart-details-card h2 {
  font-size: clamp(1rem, 3vw + 0.8rem, 1.3rem);
  margin-bottom: .5em;
}

.cart-details-card h3,
.payment-summary-container h3 {
  font-size: clamp(.8rem, 2.5vw + 0.6rem, 1.1rem);
}

.cart-payment-container{
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.cart-payment-container >*{
  margin: .5em;
}

.cart-details-card-container{
  width: 100%;
  max-width: 800px;
}

.cart-details-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding:  .8em;
  margin: .25em;
  padding-top: 1em;
  position: relative;
  background-color: var(--white);
  box-shadow: 1px 1px 5px var(--text-light-grey);
}

.cart-details-card .product-name{
  font-weight: 500;
  font-size: clamp(.9rem, 2.5vw + 0.6rem, 1.3rem);
}

.cart-details-card .del-btn{
  width: fit-content;
  padding: .25em;
  color: var(--white);
  background-color: var(--light-red);
  position: absolute;
  top: .6em;
  right: .5em;
}
.cart-details-card .del-btn:hover{
  color: var(--red);
}

.cart-details-card figure{
  border: 1px solid var(--text-light-grey);
  background-color: var(--text-light-grey);
  display: flex;
  border-radius: .5rem;
  min-width: 130px;
  width: 130px;
  height: 140px;
  
}


.cart-details-card .product-info-container{
  display: flex;
  flex-direction: column;
  margin-left: .5em;
}


.cart-details-wrapper{
  gap: 1em;
}


.cart-item-select-quantity{
  flex: 1;
  padding: .5em;
  height: 40px;
  border-radius: 2rem;
  font-weight: 700;
  color: var(--text-heading);
}
.cart-item-select-quantity:focus{
  outline: 1px solid var(--text-heading);
}


.delivery-options-container{
  flex: 1;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}


.delivery-options-container input{
  display: flex;
  width: 20px;
  margin-right: .5em;
}
.delivery-options-container >*{
  display: flex;
  flex-direction: row;
  margin-inline:.25em;
}

.delivery-options-wrapper{
  flex: 1;
  min-width: 200px;
}

.delivery-options-wrapper span{
  font-size: clamp(.7rem, 2.5vw, .9rem);
}




.payment-summary-container{
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 320px;
  background-color: var(--white);
  box-shadow: 1px 1px 5px var(--text-light-grey);
}
.payment-summary-container p{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: .25em 0;
  font-size: clamp(.8rem, 2.5vw, 1.2rem);
}

@media(max-width: 1100px){
  .cart-payment-container{
    flex-direction: column-reverse;
  }
.cart-details-card-container{
  width: 100%;
  max-width: 100%;
  margin: 0;
}
.payment-summary-container{
  border: 1px solid var(--text-main);
  padding: 1em;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 700px;
  margin-inline: auto;
}
.delivery-options-wrapper{
  margin-top: 1em;
}
}