
footer{
  padding: clamp(.7rem, 5vw, 3rem);
  padding-bottom: 1em;
}

footer .details{
  max-width: 400px;
}

footer form{
  border:  1px solid var(--accent-pink);
  border-radius:1rem;
  width: 100%;
  max-width: 600px;
  padding: 2em 1em;
  text-align: center;
}

footer form input{
  padding: .5em 2em;
  width: 100%;
  max-width: 250px;
  border-radius: 2rem;
  border: 1px solid var(--text-muted);
  transform: all 250ms ease;
}

footer > div > div>*{
  margin: .8em;
}

@media(max-width: 465px){
  footer{
    text-align: center;
  }
}
