

header nav > div{
  display: flex;
  justify-content: space-between;
  padding: 1em 0;
  top: 0;
  background-color: var(--white);
 
}

.nav-lower-container{
  display:  none; /* hide container holding mobile search bar on desktop*/
}

header{
  box-shadow: 2px 2px 2px var(--text-muted);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 200;
  background-color: var(--white);
}



header .menu-btn{
  padding: .15em;
  background-color: transparent;
}

header h1{
font-size: clamp(1.8rem, 2vw, 2rem);}

header nav ul{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
  align-items: stretch;
  font-weight: 700;
}

header nav ul li,
header nav ul li a{
  width: 100%;
  text-wrap: nowrap;
  display: flex;
  align-items: center;
  border-radius: .5rem;
}

header nav ul svg{
  /* margin-right: .5em; */
}

.account-list-container,.help-container{
  position: relative;
  padding: .5em .9em;
  border-radius: .5rem;
}

.help-container:focus-within,
.account-list-container:focus-within {
  background-color: var(--text-light-grey);
}

.help-container:focus-within .drop-down-icon,
.account-list-container:focus-within .drop-down-icon{
  transform: rotate(-180deg);
}

.help-container:focus-within .dropdown-box,
.account-list-container:focus-within 
.dropdown-box{
     opacity: 1;
   pointer-events: all;
}


.dropdown-box{
  position: absolute;
  z-index: 1;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: .5rem;
  box-shadow: 1px 1px 2px var(--text-heading);
  border: none;
  text-wrap: nowrap;
  left: -.8em;
  opacity: 0;
  padding: .5em ;
  pointer-events: none;
  transition: all 200ms ease;
  top: 3.5em;
}


.dropdown-box button{
  width: 100%;
  border-radius: .5rem;
  margin: .5em 0;
    box-shadow: 2px 2px 2px var(--text-muted);
}

.dropdown-box a{
   border-radius: .5rem;
}

.dropdown-box a:hover{
  background-color: var(--text-light-grey);
  transform: scale(1.05);
 
}

@media(max-width:1200px){
  .hide-mobile{
    display: none;
  }
}

@media(max-width:800px){

  header nav > div{
  padding:  0;
  padding-top: .15em;
}
.search-input-container{
  display: none;
}
.nav-lower-container{
  display: flex;
  padding-bottom: .5em;
}
.nav-lower-container .search-input-container{
  display: flex;
}
}