.search-input-container{
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 700px;
  padding: 0 .5em;
}

.search-input-container button{
  padding: .5em .8em;
  background-color: var(--text-heading);
  color: var(--white);
  font-size: 1rem;
}


.search-input-wrapper{
  position: relative;
}
.search-input-wrapper svg{
  position: absolute;
  display: grid;
  top: .6em;
  left: 1em;
  color: var( --text-muted);
}

.search-input-container input:focus  .search-input-container svg{
  color: red;
}

.search-input-container input{
  flex: 1;
  padding-left: 2.5em; /*so that  the icon dosent  overlay on the place holder*/
  
}