.charts-container >*{
  width:100%;
  border-radius:inherit;
  padding:.5em;
}

.charts-container{
  display: flex;
  gap: 1em;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--white);
  padding:.5em;
  border-radius: .5rem;
  box-shadow:2px 2px 4px ;
}

.upper-chart-container {
  gap:1em;
  display: flex;
  flex-wrap: wrap;
}

.upper-chart-container >*{
  min-width:320px;
  box-shadow:2px 2px 4px var(--text-muted);
  padding: 1em .5em;
  border: 1px solid var(--text-muted);
  border-radius:inherit;
}

.chart{
  height: 330px;
}