.users-table-container{
  overflow: auto;
  padding: 1em;
  margin-top: 2em;
}

.users-table-container table{
  border:  2px solid var(--text-heading);
  box-shadow: 2px 2px 4px var(--text-muted);
  min-width: 800px;
  margin: 0 auto;
  width: 100%;
  padding: .8em 0;
  border-radius: .5rem;
}
.users-table-container table td,tr,th{
  text-align: center;
}
.users-table-container table tr{
  font-weight: 500;
  border: 1px solid var(--text-muted);
}

.users-table-container table tr,th{
  padding: 1em;
}
.users-table-container table .T-first-row{
  background-color: var(--text-heading);
  color: var(--white);
}
.users-table-container table .T-head-name{
  text-align: start;
  
}
.users-table-container table .name{
  color: var(--accent-purple);
  font-size: 1.2rem;
  width: 300px;
  text-align: start;
  padding-left: .5em ;
}

.delete-user-pop-up-container{
  background-color: var(--white);
  padding: .5em;
  border-radius: .5rem;
  width: 100%;
  max-width: 500px;
  padding: 1em;
  padding-top: 3em;
}

.delete-user-pop-up-container figure{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: var(--text-muted);
  box-shadow: 2px 2px 4px var(--text-muted);
}

.delete-user-pop-up-container .delete-content-card{
  display: flex;
  justify-content: start;
  font-weight: 600;
  background-color: var(--text-light-grey);
  border-radius: inherit;
  margin: 1em 0;
  padding: .5em;
    box-shadow: 2px 2px 4px var(--text-muted);

}